<p class="cart">Shopping Cart</p>
<div class="page">
    <div class="container">
        <div *ngIf="lines.length !== 0">
            <p class="plan">{{name}} Plan</p>
            <button mat-stroked-button class="addLine" (click)="addLine()">Add line</button>
            <div *ngFor="let line of lines">
                <mat-card style="border: 1px solid rgb(188, 188, 188); margin-bottom: 20px; width: 380px; margin-right: 20px">
                    <mat-card-title style="font-size: larger; display: inline">New phone line</mat-card-title>
                    <button mat-icon-button style="margin: 0; padding: 0; margin-left: 200px;" (click)="deleteLine(line)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <mat-card-subtitle style="margin-top: 15px; margin-bottom: 50px;">Add your device/number</mat-card-subtitle>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                        <mat-panel-title style="font-weight: 500;">
                            Add device
                        </mat-panel-title>
                        </mat-expansion-panel-header>
                        <hr style="border: 1px solid rgba(182, 182, 182, 0.373); margin-bottom: 20px;">
                        <form id="new-plan" (ngSubmit)="createPlan();">
                            <label for="fname" style="font-weight: 500; color:rgb(86, 86, 86);">Phone Number</label><br>
                            <input type="text" style="margin-top: 10px;" name="number" [(ngModel)]="number" placeholder="e.g. (xxx)-xxx-xxxx">
                            <button type="button" style="margin-left: 10px" (click)="addDevice('number')">confirm</button>
                        </form>
                    </mat-expansion-panel>
                </mat-card>
            </div>
            <mat-card class="summary">
                <mat-card-title>Summary</mat-card-title>
                <hr>
                <mat-card-content>
                <p style="font-size: 15px; color:rgb(95, 95, 95)">{{name}} Plan -- {{items}} line(s)</p><br>
                <p style="display: inline; font-size: 20px">Total:</p>
                <p style="display: inline; margin-left: 280px; font-size: 20px;">${{total}}/mo.</p>
                </mat-card-content>
                <mat-card-actions>
                <button mat-button class="purchaseButton" type="submit">Confirm Purchase</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>


