<p class="cart">My Account</p>
<div class="page">
    <div class="container">
        <div *ngFor="let plan of plans">
            <div *ngIf="plan != null">
                <p class="plan">{{plan}} Plan</p>
                <button mat-stroked-button class="addLine" (click)="addLine(plan)">Add line</button>
                <button mat-stroked-button class="deletePlan" (click)="deletePlan(plan)">Delete Plan</button>
                <div *ngIf="plan == 'Level 1'">
                    <div *ngFor="let line of plan1Lines">
                        <mat-card style="border: 1px solid rgb(188, 188, 188); margin-bottom: 30px; width: 380px; margin-right: 20px">
                            <mat-card-title style="font-size: larger; display: inline">New phone line</mat-card-title>
                            <button mat-icon-button style="margin: 0; padding: 0; margin-left: 200px;" (click)="deleteLine(plan, line)">
                                <mat-icon>delete</mat-icon>
                            </button>
                            <mat-card-subtitle style="margin-top: 15px; margin-bottom: 50px;">Add your device/number</mat-card-subtitle>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                <mat-panel-title style="font-weight: 500;">
                                    Add device
                                </mat-panel-title>
                                </mat-expansion-panel-header>
                                <hr style="border: 1px solid rgba(182, 182, 182, 0.373); margin-bottom: 20px;">
                                <form>
                                    <label for="fname" style="font-weight: 500; color:rgb(86, 86, 86);">Phone Number</label><br>
                                    <input type="text" style="margin-top: 10px;" id="fname" name="fname" placeholder="e.g. (xxx)-xxx-xxxx">
                                </form>
                            </mat-expansion-panel>
                        </mat-card>
                    </div>
                </div>
                <div *ngIf="plan == 'Level 2'">
                    <div *ngFor="let line of plan2Lines">
                        <mat-card style="border: 1px solid rgb(188, 188, 188); margin-bottom: 20px; width: 380px; margin-right: 20px">
                            <mat-card-title style="font-size: larger; display: inline">New phone line</mat-card-title>
                            <button mat-icon-button style="margin: 0; padding: 0; margin-left: 200px;" (click)="deleteLine(plan, line)">
                                <mat-icon>delete</mat-icon>
                            </button>
                            <mat-card-subtitle style="margin-top: 15px; margin-bottom: 50px;">Add your device/number</mat-card-subtitle>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                <mat-panel-title style="font-weight: 500;">
                                    Add device
                                </mat-panel-title>
                                </mat-expansion-panel-header>
                                <hr style="border: 1px solid rgba(182, 182, 182, 0.373); margin-bottom: 20px;">
                                <form>
                                    <label for="fname" style="font-weight: 500; color:rgb(86, 86, 86);">Phone Number</label><br>
                                    <input type="text" style="margin-top: 10px;" id="fname" name="fname" placeholder="e.g. (xxx)-xxx-xxxx">
                                </form>
                            </mat-expansion-panel>
                        </mat-card>
                    </div>
                </div>
                <div *ngIf="plan == 'Level 3'">
                    <div *ngFor="let line of plan3Lines">
                        <mat-card style="border: 1px solid rgb(188, 188, 188); margin-bottom: 20px; width: 380px; margin-right: 20px">
                            <mat-card-title style="font-size: larger; display: inline">New phone line</mat-card-title>
                            <button mat-icon-button style="margin: 0; padding: 0; margin-left: 200px;" (click)="deleteLine(plan, line)">
                                <mat-icon>delete</mat-icon>
                            </button>
                            <mat-card-subtitle style="margin-top: 15px; margin-bottom: 50px;">Add your device/number</mat-card-subtitle>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                <mat-panel-title style="font-weight: 500;">
                                    Add device
                                </mat-panel-title>
                                </mat-expansion-panel-header>
                                <hr style="border: 1px solid rgba(182, 182, 182, 0.373); margin-bottom: 20px;">
                                <form>
                                    <label for="fname" style="font-weight: 500; color:rgb(86, 86, 86);">Phone Number</label><br>
                                    <input type="text" style="margin-top: 10px;" id="fname" name="fname" placeholder="e.g. (xxx)-xxx-xxxx">
                                </form>
                            </mat-expansion-panel>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
        <mat-card class="summary" style="width: 350px;">
            <mat-card-title>Bill Summary</mat-card-title>
            <hr>
            <div *ngFor="let plan of plans">
                <div *ngIf="plan == 'Level 1'">
                    <p style="font-size: 20px; color:rgb(39, 38, 38)">{{plan1}} Plan: {{plan1Items}} line(s)</p><br>
                    <p style="display: inline; font-size: 20px; color:rgb(39, 38, 38); margin-right: 30px;">Monthly Charge: ${{plan1Total}}/mo.</p>
                    <hr>
                </div>
                <div *ngIf="plan == 'Level 2'">
                    <p style="font-size: 20px; color:rgb(39, 38, 38)">{{plan2}} Plan: {{plan2Items}} line(s)</p><br>
                    <p style="display: inline; font-size: 20px; color:rgb(39, 38, 38); margin-right: 30px;">Monthly Charge: ${{plan2Total}}/mo.</p>
                    <hr>
                </div>
                <div *ngIf="plan == 'Level 3'">
                    <p style="font-size: 20px; color:rgb(39, 38, 38)">{{plan3}} Plan: {{plan3Items}} line(s)</p><br>
                    <p style="display: inline; font-size: 20px; color:rgb(39, 38, 38); margin-right: 30px;">Monthly Charge: ${{plan3Total}}/mo.</p>
                    <hr>
                </div>
            </div>
            <mat-card-content>
            
            </mat-card-content>
        </mat-card>
    </div> 
</div>


