nav {
  padding-left: 70px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

nav a {
  text-decoration: none;
  padding-right: 40px;
  color: rgb(64, 63, 63);
  font-weight: bold;
  font-size: 17px;
}

nav a:hover {
  color: rgba(18, 120, 229, 0.922);
}

hr.line {
  height: 1px;
  border-width: 0;
  background-color:#ca73df6f;
}

mat-icon {
  color:rgb(64, 63, 63); 
  padding-right: 10px; 
  font-size: 19px;
}

.mat-badge-small.mat-badge-above .mat-badge-content {
  right: 0px;
}

