<p class="title">Monthly Bill Summary</p>
<hr>
<div class="container">
    <p style="font-weight: bold; font-size:21px">Level 1 Plan</p>
    <p>2 lines</p>
    <p style="display: inline; margin-right: 10%;">Subtotal (monthly):</p>$60.00
    <hr style="margin-bottom: 5%;">
    <p style="font-weight: bold; font-size:21px">Level 2 Plan</p>
    <p>3 lines</p>
    <p style="display: inline; margin-right: 10%">Subtotal (monthly):</p>$150.00
    <hr style="margin-bottom: 5%;">
    <p style="font-weight: bold; font-size:21px">Level 3 Plan</p>
    <p>5 lines</p>
    <p style="display: inline; margin-right: 10%">Subtotal (monthly):</p>$125.00
    <hr style="margin-bottom: 5%;">
    <p style=" display: inline; font-weight: bold; font-size:21px; margin-right: 10px;">Total:<p style=" display: inline; font-size: 21px;">$335.00</p>
</div>
