<div class="panel1">
  <img src="../assets/family.jpg" alt="Family using tablet" class="family" />
  <p>
    Enjoy family plans with <br />
    great rates.
  </p>
</div>
<p class="titleBreak">Connect to what matters</p>
<hr>
<div class="panel2">
  <img
    src="../assets/holding_phone.jpg"
    alt="Family using tablet"
    class="phone"
  />
  <p style="font-size: 45px; text-align: center">Get unlimited talk & text.</p>
</div>
<div class="panel3">
  <p style="padding-left: 120px; font-size: xx-large;">My TeleSkill</p>
  <p style="font-size: 45px; padding-left: 120px">
    Manage your TeleSkill account
  </p>
  <p style="padding-left: 120px; font-size: 20px">
    Manage your account and view a concise breakdown of your plans.
  </p>
  <button mat-stroked-button color="accent" class="accountButton">My account</button>
</div>
