.panel1 {
  height: 350px;
  border-width: 0;
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgba(4, 98, 230, 0.948)
  );
  margin-top: 30px;
  padding-top: 40px;
  padding-left: 70px;
  padding-bottom: 40px;
  font-size: 50px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #ae0091;
}

.panel2 {
  height: 500px;
  width: 560px;
  border-width: 0;
  margin-top: 30px;
  padding-bottom: 40px;
  font-size: 50px;
  display: inline-block;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000000d3;
  color: white;
}

.panel3 {
  height: 500px;
  width: 60%;
  border-width: 0;
  margin-top: 30px;
  padding-bottom: 40px;
  font-size: 50px;
  float: right;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e0e0e0;
  color: #1d1d1df8;
}

.titleBreak {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
  color: #202020f1;
}

.cart {
  width: 27px;
  height: 27px;
}

.family {
  width: 520px;
  height: 350px;
  float: right;
  padding-right: 5%;
}

.phone {
  width: 560px;
  height: 400px;
}

.accountButton {
  margin-left: 120px; 
  margin-top: 100px; 
  font-size: 20px;
  color: #ae0091;
  border-color: #ae0091;
  padding: 12px 30px;
}

p {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 10px;
}
