.container {
    background-color: #ae0091;
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}

.container mat-card {
    margin-top: 70px;
    margin-bottom: 150px;
    padding-top: 25px;
    padding-bottom: 30px;
}

.title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 45px;
    color: #202020f1;  
    margin: 0;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 10px;
}

.subtitle {
    text-align: center;
    font-size: 17px;
    padding-bottom: 50px;
}

.inline-block {
    display: inline-block;
}

.price {
    font-size: 27px;
    color: #202020f1;
}

.content {
    font-size: 20px;
}

.planButton {
    flex-grow: 100;
    margin-bottom: 0px;
    color: white;
    background-color:  rgba(15, 109, 240, 0.789);
    padding-top: 3px;
    padding-bottom: 3px;
}

.planButton:hover {
    background-color:  rgba(5, 74, 170, 0.853);
}

p {
    padding: 0;
    margin: 0;
}
